:root{
	font-size: 1em;
	box-sizing: border-box;
}

body {
	font-family: Roboto;
  background: #d53369;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
		background: rgb(212, 59, 105);
		color: white;
		margin: 0;
		padding: 1rem 2rem;
		text-transform: uppercase;
		font-size: 6rem;
		font-weight: normal;
}

@media(min-width:1024px){
	h1 {
		padding: .55rem 1.4rem;
		font-size: 2rem;
	}
}

.fa-plus {
	float: right;
}

li{
	font-size: 3.5rem;
	background: #fff;
	height: 7rem;
	line-height: 7rem;
	color: #666;
}

@media(min-width: 1024px){
	li {
		font-size: 1.5rem;
		background: #fff;
		height: 2.5rem;
		line-height: 2.5rem;
	}
}

li:nth-child(2n){
	background: #f7f7f7;
}

span{
	background: #e74c3c;
		height: 7rem;
		margin-right: 2rem;
		text-align: center;
		color: white;
		width: 0;
		display: inline-block;
		transition: 0.2s linear;
		opacity: 0;
}

@media(min-width:1024px){
	span {
		height: 2.5rem;
	}
}

li:hover span {
	width: 8rem;
	opacity: 1.0;
}

@media(min-width:1024px){
	li:hover span {
		width: 3.5rem;
	}
}

input {
	font-size: 3.5rem;
	color: rgb(212, 59, 105);
	background-color: #f7f7f7;
	width: 100%;
	padding: 1rem 1rem 1rem 1rem;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

@media(min-width:1024px){
	input {
		font-size: 1.3rem;
		padding: 13px 13px 13px 20px;
		box-sizing: border-box;
	}
}

input:focus{
	background: #fff;
	border: .5rem solid rgb(204, 169, 109);
	outline: none;
}

@media(min-width:1024px){
	input:focus{
		border: 3px solid rgb(204, 169, 109);
	}
}

#container {
	width: 95%;
	margin: 10% auto;
	background: #f7f7f7;
	box-shadow: 0 0 100px rgba(243, 241, 241, .9);
}

@media(min-width:1024px){
	#container {
		width: 50%;
		margin: 100px auto;
	}
}

.completed {
	color: gray;
	text-decoration: line-through 
}